# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / editor
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store

# Tokens do SoftHSM não devem ir para o Git
hsm/tokens/*

# Saídas geradas em execução
data/*
dm/*
registry/*

# Mantém a estrutura das pastas no repositório
!data/.gitkeep
!dm/.gitkeep
!registry/.gitkeep

# PKI: versiona apenas certificados finais úteis
pki/*.csr
pki/*.srl

# Nunca ignorar código, configuração e referências
!scripts/
!config/
!reference/
